<html>
    <head>
        <title>Aniruddha's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Aniruddha's Blog</a></h1>
        </div>

        <div>
            <p>published: 17th May 2019, 12:14</p>
            <h2><a href="">Kaam 25</a></h2>
            <p>kaam 25 hai, Kaam kaam 25 hai,
			Mat dikha batteese,
			Mar jayega galti se,
			Gayab tu dharti se!</p>
        </div>

        <div>
            <p>published: 17th May 2019, 12:14</p>
            <h2><a href="">Mere Gully Mein</a></h2>
            <p>Roshan chaukhat ye awli bawal ye,
			Raunak bombay ki chawli kamal ye,
			Saubat bohotich mohobbat waali ye,
			Daulat shohrat jaake kamaale ve!</p>
        </div>
    </body>
</html>